#main-header{
    min-height: 200px;
}

#main-header .logo, #main-header .title{
    float: left;
}

#main-header ul{
    float: right;
}

#main-header .logo{
    background: red !important; 
    position: relative;

}

#main-header .logo:after{
    background: limegreen;

    content: "MAIF";
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
    color: yellow;
    position:absolute;



}

